.post {

  &__label {
    font-size: 14px;
    color: $grey4A;
    margin: 0;

    &--primary {
      color: $primary-color;
    }

    &--grey {
      color: $grey9B;
    }
  }
  
  &__content {
    display: flex;
    position: relative;
    flex: 1;

    &-sidebar {
      flex: 2;
      display: flex;
      flex-direction: column;
      justify-content: center;
      max-width: 210px;
      background-color: $greyED;
      border-bottom: solid 1px $greyCF;
    }

    &-header {
      text-align: center;

      div:nth-child(1) {
        margin: 0 auto 13px !important;
      }
      
      // div:nth-child(2n) span:nth-child(2n) {
      //   position: absolute !important;
      //   top: 5px;
      //   left: 24%;
      //   color: #9b9b9b !important;
      // }
      
      div:nth-child(3n) {
        position: absolute;
        top: 3px;
        right: 16px;

        svg {
          -webkit-transform: rotate(90deg);
          -moz-transform: rotate(90deg);
          -o-transform: rotate(90deg);
          -ms-transform: rotate(90deg);
          transform: rotate(90deg);
        }
      }
    }

    &-main {
      flex: 3;
    }

    &-date {
      margin-bottom: 12px;
    }
  }

  &__mediaContent {
    display: flex;
    flex-wrap: wrap;

    & img {
      max-height: 300px;
      object-fit: cover;
      width: 50%;
      min-width: unset;
    }
  }

  &__socialActions {
    padding: 0 !important;
    background-color: $greyED;

    &-label {
      margin-left: 8px;
    }

    &-like {
      margin: 0 20px 0 auto !important;
    }
  }

}