.project {
  margin-bottom: 22px;

  &__triangle {
    position: absolute;
    top: calc(50% - 20px);
    left: -20px;
    z-index: 9;
    width: 0;
    height: 0;
    border: 0 solid transparent;
    border-top-width: 20px;
    border-bottom-width: 20px;
    border-right: 20px solid white;
  }

  &__label {
    font-size: 16px;
    margin-top: 0;
    color: $light-grey4;

    &--primary {
      color: $primary-color;
    }
  }
}