.property {
  margin-bottom: 56px;

  &__label {
    font-size: 26px;
    line-height: 34px;
    color: white;
    font-weight: 300;
    margin: 0 0 0 15px;
    text-transform: capitalize;

    &:first-child {
      margin-top: 11px;
    }

    &--dark {
      color: $grey;
    }

    &--note {
      text-align: center;
      margin-top: 50%;
    }
  }

  &__project-header {
    margin-bottom: 12px;
  }

  &__project-footer {
    margin-top: -15px;
  }
}