.container {
  display: flex;
  padding: 0 40px;
  max-width: 1000px;
  margin: 20px auto;

  .leftPanel {
    flex: 1;
    min-width: 220px;
    max-width: 300px;
  }

  .rightPanel {
    flex: 2;
    padding-left: 20px;
  }
}
