.container {
  display: flex;
  padding: 0 40px;
  max-width: 1000px;
  margin: 20px auto;

  .leftPanel {
    width: 250px;
  }

  .rightPanel {
    display: flex;
    padding-left: 20px;
    max-width: 800px;
  }
}
