/**
 * ***************************
 * Colors   ******************
 * ***************************
 */
 $white: #ffffff;
 $grey: #333333;
 $grey4A: #4A4A4A;
 $grey9B: #9B9B9B;
 $greyAA: #aaaaaa;
 $greyAD: #ada7a7;
 $greyB9: #B9B9B9;
 $greyCF: #CFCCCC;
 $greyD8: #D8D8D8;
 $greyED: #EDEDED;
 $greyFA: #fafafa;
 $greyF7: #f7f7f7;
 $green: #4CAF50;
 $green-teal: #00ab6b;
 $teal: #58d09f;
 $gold: #FFD700;
 $primary-color: #912099;
 $secondary-color: #340E42;
 $primary-color-light: #EF4FFB;


/**
 * ***************************
 * Shadow   ******************
 * ***************************
 */
$glob-box-shadow: 0 4px 10px 0 rgba(0,0,0,0.2), 0 4px 20px 0 rgba(0,0,0,0.19);


/**
 * ***************************
 * Font Family   *************
 * ***************************
 */
// Todo | We'll use the correct font here.
$regular: 'Helvetica';
$bold: 'Helvetica';
$light: 'Helvetica';


/**
 * ***************************
 * Font Scale   **************
 * ***************************
 */
$font-scale: (
  xs: (
    font-size: 12px,
    line-height: 16px,
  ),
  sm: (
    font-size: 14px,
    line-height: 20px,
  ),
  base: (
    font-size: 16px,
    line-height: 22px,
  ),
  md: (
    font-size: 18px,
    line-height: 26px,
  ),
  lg: (
    font-size: 20px,
    line-height: 26px,
  ),
  xl: (
    font-size: 26px,
    line-height: 30px,
  ),
);


/**
 * ***************************
 * Dimension   ***************
 * ***************************
 */
$main-contianer: 1214px;
$header-container: 1334px;
