// Colors
$white: #fff;
$grey: #333333;
$light-grey: #fafafa;
$light-grey2:#f7f7f7;
$light-grey3:#ada7a7;
$light-grey4: #9B9B9B;
$dark-grey: #4A4A4A;
$green-teal:#00ab6b;
$teal:#58d09f;
$gold: #FFD700;
$green: #4CAF50;
$primary-color: #912099;
$secondary-color: #340E42;
$light-grey-border: #EDEDED;
$light-grey-dark-border: #CFCCCC;
$grey-dark-border: #B9B9B9;
$light-color: #aaa;

// Background color
$light-bg: #EDEDED;

// Navigation colors
$nav-background: $grey;
$nav-text-color: $primary-color;

// Shadow
$glob-box-shadow: 0 4px 10px 0 rgba(0,0,0,0.2), 0 4px 20px 0 rgba(0,0,0,0.19);

// Todo | We'll use the correct font here.
// Font Family
$regular: 'Helvetica';
$bold: 'Helvetica';
$light: 'Helvetica';
// End Font Family


// Font Scale
$font-scale: (
  xs: (
    font-size: 12px,
    line-height: 16px,
  ),
  sm: (
    font-size: 14px,
    line-height: 20px,
  ),
  base: (
    font-size: 16px,
    line-height: 22px,
  ),
  md: (
    font-size: 18px,
    line-height: 26px,
  ),
  lg: (
    font-size: 20px,
    line-height: 26px,
  ),
  xl: (
    font-size: 26px,
    line-height: 30px,
  ),
);
// End Font Scale